body {
  margin: 0%;
  padding: 0%;
  font-family: sans-serif;
}
.container {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.container .slider {
  position: absolute;
  width: 500%;
  height: 100%;
  top: 0%;
  left: 0%;
  float: left;
  animation: slide 10s linear infinite;
}
@keyframes slide {
  0% {
    left: 0%;
  }
  10% {
    left: 0%;
  }

  20% {
    left: -100%;
  }
  30% {
    left: -100%;
  }
  40% {
    left: -200%;
  }
  50% {
    left: -200%;
  }
  60% {
    left: -300%;
  }
  70% {
    left: -300%;
  }
  80% {
    left: -300%;
  }
  90% {
    left: -400%;
  }
  100% {
    left: -400%;
  }
}
.container .slider .slide {
  position: relative;
  width: 20%;
  height: 100%;
  float: left;
}
.container .slider .slide .caption {
  position: absolute;
  left: 60px;
  right: 60px;
  bottom: 30px;
  padding: 30px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.2);
}
.container .slider .slide .caption h2 {
  margin: 0%;
  padding: 0%;
  color: white;
  font: 48px;
}
.container .slider .slide .caption p {
  color: white;
  font-size: 20px;
}
.container .slider .slide.slide1 {
  background: url(1.jpg);
  background-size: cover;
  background-position: center;
}
.container .slider .slide.slide2 {
  background: url(2.jpg);
  background-size: cover;
  background-position: center;
}
.container .slider .slide.slide3 {
  background: url(3.jfif);
  background-size: cover;
  background-position: center;
}
.container .slider .slide.slide4 {
  background: url(4.jpg);
  background-size: cover;
  background-position: center;
}
.container .slider .slide.slide5 {
  background: url(5.jpg);
  background-size: cover;
  background-position: center;
}
@media (max-width: 480px) {
  .container .slider .slide .caption {
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.2);
  }
  .container .slider .slide .caption h2 {
    margin: 0%;
    padding: 0%;
    color: white;
    font: 25px;
  }
  .container .slider .slide .caption p {
    color: white;
    background: rgba(0, 0, 0, 0.1);
    font-size: 10px;
  }
}
